<form action="{{ path('login') }}" method="post" class="login_form">             
    <div class="box_form_user">
        <div class="box_form_user_small">
            <div class="row_login_form">
                <div class="label_login_form">
                    <label for="username_login">Votre email:</label>
                </div>
                <input type="text" id="username_login" name="_username"  />
            </div>
            <div class="row_login_form">
                <div class="label_login_form">
                    <label for="password_login">Mot de passe:</label>
                </div>
                <input type="password" id="password_login" name="_password" />
            </div>
            <div class="row_login_form">
                <div class="label_login_form rememberme_login">
                    <label for="rememberme_login">Se souvenir de moi:</label>
                </div>
                <input type="checkbox" id="rememberme_login" name="_remember_me" checked />  
            </div>
            <div class="row_login_form">              
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                <button type="submit" value="Me connecter">SE CONNECTER</button>
            </div>         
        </div>
    </div>
</form>
