{% block form_row %}
{% spaceless %}

<div class="userform_row">
    <div class="userform_label">
        {{ form_label(form) }}
    </div>
    {{ form_errors(form) }} 
    {{ form_widget(form) }}
</div>

{% endspaceless %}
{% endblock form_row %}
