{% block form_row %}
{% spaceless %}

<div class="row_login_form">
    <div class="label_login_form">
        {{ form_label(form) }}
        
    </div>
    {{ form_errors(form) }} 
    {{ form_widget(form) }}
</div>

{% endspaceless %}
{% endblock form_row %}