/app/config/parameters.yml
/build/
/phpunit.xml.dist
/insight-pmd.xml
/insight.phar
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/web/bundles/
!/web/bundles/fosjsrouting/*
/web/.sass-cache
/web/config.php
/node_modules/
/web/.htaccess
/src/.htaccess
/app/.htaccess
