{% extends "base.html.twig" %}

{% block body %}
{% if error is defined %}
    <div>{{ error.messageKey|trans(error.messageData) }}</div>
{% endif %}
<section class="section-first">
    <div class='container-small'>
        <div class="userform_box">
            <h1 class="section_title-green">CONNEXION</h1>
            {{ include ("form/loginForm.html.twig") }}
            <h2 class="section_title-green">ENREGISTREMENT</h2>     
            {{ include ("form/subsaccountForm.html.twig") }}
        </div>           
    </div>
</section>
{% endblock %}
