{% extends "base.html.twig" %}

{% block body %}
    {% if error is defined %}
        <div>{{ error.messageKey|trans(error.messageData) }}</div>
    {% endif %}

    <section class="first_section">
        <div class='container_small'>
          <div class="login_box">
             <div class="box_subs">
              <P class="login_title">CONNEXION</p>
              {{ include ("form/loginForm.html.twig") }}
              <P class="login_title">ENREGISTREMENT</p>     
              {{ include ("form/subsaccountForm.html.twig") }}
            </div>           
          </div>
        </div>
    </section>

{% endblock %}