{% extends "admin/adminbase.html.twig" %}

{% block body_admin %}

<h1 class="page-header">Dashboard</h1>
<h2 class="sub-header">Edition</h2>

{% for flashMessage in app.session.flashbag.get('info') %}

<div class="alert alert-success">
    {{ flashMessage }}
</div>

{% endfor %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{{form(form)}}

{% endblock %}
