{% extends "admin/adminbase.html.twig" %}


{% block body_admin %}


<h1 class="page-header">Dashboard</h1>
<h2 class="sub-header">Edition</h2>
{% if message != '' %}
    <p>{{ message }}</p>
{% endif %}
{{form(form)}}


{% endblock %}
