/* ==========================================================================
   CADDIE
   ========================================================================== */

.account {
    margin-top: 35px;
    font-family: "arialnarrow", sans-serif;
    color: $font-brown;
    font-size: 18px;        

    &-header {
        background-color: $green_dark_account;
        height: 54px;
    }

    &-title {
        text-align: center;
        font-family: "Kraftstoff", sans-serif;
        color: white;
        font-size: 36px;
        font-weight: normal;
        margin: auto;        
    }

    &-welcome {
        text-align: center;
        background-color: white;
        font-style: italic;
    }

    &-content {
        background-color: $green_medium_account;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px 0;        
    }

    &_infobox {
        margin: auto;

        h2 {
            margin: 10px 0;
        }
    }

    &_reference {
        width: 200px;
    }

    caption {
        margin-top: 20px;
        font-family: 'Kraftstoff';
        font-size: 30px;
        color: #4d4135;
    }
}

.account-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: "arialnarrow", sans-serif;

    thead {
        background-color: #9bba83;
        color: white;

        tr {
            height: 41px;
            border-top: 1px solid #ccd7bc;
            border-bottom: 1px solid #ccd7bc;
            box-sizing: border-box;
        }

        th {
            font-family: arial;
            font-size: 16px;
            text-transform: uppercase;
            padding: 0 20px;
        }
    }

    tbody {
        background-color: #eef4ea;
        color: $font-brown;
        font-size: 18px;

        th {   
            font-weight: normal;
            padding: 5px 0;
        }

        button { 
            font-weight: bold;
            color: $font-brown;   
        }      
    }

    &-hide {
        display: none;
    }
}

.account-sidebar {
    padding: 0px 0 0 50px;

    ul {
        list-style-type: none;
    }

    button {
        font-family: "arialnarrow", sans-serif;
        color: $font-brown;
        font-size: 18px;
        text-decoration: underline;
        margin: 5px 0;
        position: relative;
        border: none;
        &:focus {
            outline:none;
        }
    }
    
    span {
        display: inline-block;
        position: absolute;
        vertical-align: middle; 
        left: -30px;
    }

    .account-adresses {
        left: -40px;
    }
}

@media only screen and (max-width: 1280px) {
    .account {
        padding: 0;
    }
}

@media only screen and (max-width: 700px) {
    .account-table thead th {
        padding: 0;
    }
}