/* ==========================================================================
   CADDIE
   ========================================================================== */

.green_header {
    background-color: $green_dark_account;
}

.green_content {
    background-color: $green_medium_account;
}

#account-wrapper {
    margin-top: 35px;
    font-family: "arialnarrow", sans-serif;
    color: $font-brown;
    font-size: 18px;

    .green_header {
        height: 54px;

        h1 {
            text-align: center;
            font-family: "Kraftstoff", sans-serif;
            color: white;
            font-size: 36px;
            font-weight: normal;
            margin: auto;
        }

    }    
}

#account_welcome {
    text-align: center;
    background-color: white;
    p {
        margin: auto;
        font-style: italic;
    }
}

#account_content {
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
    padding: 20px 0;

    .box_table {
        padding: 0;
    }

    .table_caddie th {
        padding: 0 5px;
    }

    .table_caddie tbody th {
        height: auto;
        background-color: #eef4ea;
    }

    caption {
        margin-top: 20px;
        font-family: 'Kraftstoff';
        font-size: 30px;
        color: #4d4135;
    }

    .table-hide {
        display: none;
    }

    .table_caddie button {
        font-family: "arialnarrow", sans-serif;
        color: $font-brown;
        font-size: 18px;
        margin: 5px 0;
        position: relative;
        border: none;
        font-weight: bold;
        &:focus {
            outline:none;
        }
    }
}

#account_box {
    margin: auto;
    h2 {
        text-align: center;
    }
}

#account_sidebar {
    padding: 0px 0 0 50px;

    button {
        font-family: "arialnarrow", sans-serif;
        color: $font-brown;
        font-size: 18px;
        text-decoration: underline;
        margin: 5px 0;
        position: relative;
        border: none;
        &:focus {
            outline:none;
        }
    }
    
    span {
        display: inline-block;
        position: absolute;
        vertical-align: middle; 
        left: -30px;
    }

    .account-adresses {
        left: -40px;
    }
}

@media only screen and (max-width: 1280px) {
    #account-wrapper {
        padding: 0;
    }
}