/* ==========================================================================
   CADDIE
   ========================================================================== */

#caddie {
    padding-bottom: 60px;
    overflow: hidden;

    button:focus {
        outline: 0;
    }
}

.nav_caddie {
    margin-top: 35px;
    margin-right: 40px;
}

.nav_caddie ul {
    list-style-type:none;
    margin:0;
    padding:0;
    text-align: right;
}

.nav_caddie li {
    display:inline-block;
}

/*Style for menu links*/
.nav_caddie li a {
    display:block;
    font-size: 36px;
    font-family: "Kraftstoff", Helvetica, Arial, sans-serif;
    color: #493f33;
    text-decoration: none;
    margin-left: 35px;
}

.nav_caddie strong {
    font-size: 24px;
    font-family: "mohave bold", Helvetica, Arial, sans-serif;
    color: white;
    font-weight: bold;
    background-color: #493f33;
    height: 36px;
    width: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}

.opac {
    opacity: 0.2;
}

/*Style 'show menu' label button and hide it by default*/
.show-caddie_menu {
    height: 50px;
    line-height: 50px;
    display: none;
    text-align: center;
    background-color: #493f33;
    vertical-align: middle;
    color: white;
    font-size: 36px;
    font-family: "Kraftstoff", Helvetica, Arial, sans-serif;
}

/*Hide checkbox*/
.nav_caddie input[type=checkbox]{
    display: none;
}


/* CADDIE BOX */

.conseil_tel {
    text-align: right;
    color: #4d4135;
    font-size: 16px;
    margin: 20px 0;
}

#box_caddie {
    margin: 0 40px;
}

.box_table {
    background-color: white;
    padding-bottom: 40px;
    clear:both;
    margin-top: 20px;
}

.table_caddie thead tr {
    height: 41px;
    border-top: 1px solid #ccd7bc;
    border-bottom: 1px solid #ccd7bc;
    box-sizing: border-box;
    background-color: #9bba83;
}

.table_caddie thead tr th{
    color: white;
    font-family: arial;
    font-size: 16px;
    text-transform: uppercase;
}

.table_caddie {
    width: 100%;
}

.table_caddie th {
    text-align: center;
    padding: 0;
}

#caddie_table_quantite,#caddie_table_total {
    width: 100px;
}

#caddie_table_prix {
    width: 150px;
}

.table_caddie tbody tr {
    background-color: #dee8d6;
}

.table_caddie tbody tr th:first-child,
.table_caddie tfoot tr th:first-child {
    background-color: white;
    max-width: 250px;
}

.table_caddie tbody tr th:first-child img{ 
    max-width: 250px;
}

.table_caddie tbody th {
    color: #4d4135;
    font-size: 18px;
    font-weight: normal;
    font-family: "arialnarrow";
    height: 100px;
    position: relative;
}

.table_caddie tbody form {
    border: 1px solid #588c31;
    border-radius: 2px;
    text-align: center;
    background-color: white;
    width: 80px;
    display: inline-block;
}

.table_caddie tbody form input[type='text']{
    width: 28px;
    height: 28px; 
    text-align: center;
    background-color: #588c31;
    display: inline-block;
    color: white;
    vertical-align: middle;
}

.table_caddie tbody form button {
    display: inline-block;
    height: 27px;
    width: 26px; 
    color: #588c31;
    font-size: 18px;
    font-weight: normal;
    font-family: "Arial";
    text-align: center;    
}

.table_caddie tfoot th {
    color: #4d4135;
    font-size: 16px;
    font-weight: normal;
    font-family: "arialnarrow";
    height: 50px;
}

.garbage {
   position: absolute;
   bottom: 10%;
   left: 0;
   right: 0;
   width: 17px;
   margin: auto;
}

.green_light {
    background-color: #f7f9f5;
}

.green_dark {
    background-color: #dee8d6;
}

.recette_radio {
    text-align: center;
    color: #4d4135;
    font-size: 16px;
    margin: 30px 0;
}

.recette_radio form, .recette_radio form{
    display: inline-block;
}

#continue_achat {
    color: #588c31;
    font-size: 21px;
    text-decoration: underline;
    font-style: italic;
    margin-left: 10px;
}

.validate_caddie {
    text-align: right;
    display: block;
    float: right;
}


.validate_caddie:after {
  content: ".";
  display: table;
  clear: both;
}


.validate_caddie button {
    font-family: "arial";
    font-size: 21px;
    text-align: center;
    margin: 0 10px;
    display: inline-block;
    padding: 5px;
}

#caddie_codereduc div {
    position: relative;
    display: inline-block;
}

#caddie_codereduc input {
    font-size: 16px;
    
}

#caddie_codereduc input[type="text"] {
    background-color: white;
    height: 31px;
    vertical-align: middle;
    width: 200px
}

#caddie_codereduc input[type="submit"] {
    position: absolute;
    background-color: #588c31;
    height: 31px;
    width: 41px;
    color: white;
    right: 0;
}

#caddie_codereduc input[type="submit"]:hover {
    background-color: $green_dark;
}

.quantite_submit {
    display: none;
}




@media screen and (max-width : 1050px){
    .nav_caddie {
        margin-right: 0;
    }
    .nav_caddie ul {
        display: inherit;
        height: 0;
        -o-transition: height 1s;;
        -webkit-transition: height 1s;
        -moz-transition: height 1s;
        -ms-transition: height 1s;
        transition: height 1s;
        overflow: hidden;
    }
    .nav_caddie li a {
        color: white;
        text-align: center;
    }
    /*Make all menu links full width*/
    .nav_caddie ul li {
        width: 100%;
        background-color: #493f33;

    }
    /*Display 'show menu' link*/
    .show-caddie_menu {
        display:block;
    }
    .nav_caddie input[type=checkbox] ~ #menu_caddie {

    }
    .nav_caddie input[type=checkbox]:checked ~ #menu_caddie {
        height: 250px;

    }
    #box_caddie {
        margin: 0;
    }
    .conseil_tel {
        text-align: center;
        color: #4d4135;
        font-size: 16px;
        margin: 20px 0;
    }
}

@media screen and (max-width : 680px){
    .table_caddie tbody tr th:first-child img{ 
        max-width: 0;
    }
}

@media screen and (max-width : 580px){
    .validate_caddie {
        float: none;
        width: 100%;
    }
    .validate_caddie button {
        width: 100%;
        display: block;
        margin: 20px 0 0 0;
    }
}