/* ==========================================================================
   FOOTER
   ========================================================================== */

.footer {
    background-color: $header_footer_background;
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: "aileron";
    text-align: center;

    &-sectionbox {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &_section {
        height: 235px;
        width: 380px;
        margin: 0 -2px 20px 0;
        text-align: center;
        border-right: 2px solid $whity;
        border-left: 2px solid $whity;
        vertical-align: middle;
        box-sizing: border-box;

        &_p {
            margin: 20px 30px 30px 0;
            vertical-align: middle;
            color: $whity;
            font-size: 24px;
        }
    }

    &_input-email {
        width: 200px;
        height: 55px;
        background-color: white; /* Fallback */
        background-color: rgba(255,255,255,0.77);
        color: #28180d;
        font-family: "aileron";
        font-style: italic;
        margin-top: 10px;        
    }

    &_input-submit {
        width: 94px;
        height: 55px;
        background-color: rgb(88,140,0); /* Fallback */
        background-color: rgba(88,140,0,0.59);
        color: white;
        font-family: "aileron";
        font-style: italic;        
    } 

    &_social-link {
        display: inline-block;
        margin: 0 10px;
        vertical-align: middle;
    }

    &-copyright {
        display: block;
        font-size: 14px;
        
        &_li {
            display: inline-block;
            padding: 0 14px;
            border-right: 2px solid $whity;
            color: $whity; 
            font-size: 14px;  
        }

        &_li:first-child {
            font-weight: bold;
        }

        &_li:last-child {
            border: none;
        }       
    }
}

@media only screen and (max-width: 480px) {
    .footer_section {
        margin: 0 0 20px 0;
        width: 100%;
        border: 0;
        position: relative;

        &:nth-child(2):after {
            content:""; 
            background: white; 
            position: absolute; 
            width: 70%; 
            height: 2px;
            bottom: 0;
            left: 15%;
        }

        &:nth-child(2):before {
            content:""; 
            background: white; 
            position: absolute; 
            width: 70%; 
            height: 2px;
            top: 0;
            left: 15%;
        }
    }
}