/* ==========================================================================
   Header
   ========================================================================== */

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: $header_footer_background;
    z-index: 1000;
    & > div {
        position: relative;
    }

    span {
        display: inline-block;
        margin-right: 20px;
        vertical-align: middle; 
    }
}

#logo {
    position: absolute;
    top: 10px;
    left:0;
    right:0;
    margin: 0 auto;
    z-index: 1000;
} 

/*Strip the ul of padding and list styling*/
.nav_header ul {
    list-style-type:none;
    margin:0;
    padding:0;
    position: absolute;
}

/*Create a horizontal list with spacing*/
.nav_header li {
    display: block;
    float: left;
}

#menu_header > li > a {
    height: 100px;
    line-height: 100px;
}

/*Style for menu links*/
.nav_header li a {
    display:block;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    font-family: "mohave bold";
    color: #fff;
    text-decoration: none;
}

/*Hover state for top level links*/
/* .nav_header li:hover a {
    
} */

/*Style for dropdown links*/
.nav_header li:hover ul a {
    background-color: rgb(73,63,51);
    height: 40px;
    line-height: 40px;
}

/*Hover state for dropdown links*/
 li:hover ul a:hover {
    background: #312a22;
} 

/*Hide dropdown links until they are needed*/
.nav_header li ul {
    display: none;
}

/*Make dropdown links vertical*/
.nav_header li ul li {
    display: block;
    float: none;
}

/*Prevent text wrapping*/
.nav_header li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
    font-size: 16px;
}

/*Display the dropdown on hover*/
.nav_header ul li a:hover + .ulhidden, .ulhidden:hover {
    display: block;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
    height: 100px;
    vertical-align: middle;
    line-height: 100px;
    position: relative;  
}

.header-menu_close {
    position: absolute;
    margin: 0 auto;
    top: 30px;
    left: 0;
    right: 0;
    display: none;
}

/*Hide checkbox*/
.nav_header input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
.nav_header input[type=checkbox]:checked ~ #menu_header{
    display: block;
}

.nav_header > ul > li:last-child {
    position: relative;
    width: 100px;
}

.left_li {
    margin-left: 65px;
}

.right_li {
    margin-left: 30px;
    a {
        height: 100px !important; 
        line-height: 18px !important;
        padding-top: 30px;
    }
}

#menus_header {
    margin-right: 220px;
}

#barre_left {
    content: "";
    display: inline-block;
    position: absolute;
    height: 62px;
    width: 2px;
    background-color: white;
    left: -15px;
    opacity: 0.7;
    top: 20px;
}

.header-account {
    position: relative;
    top: 33px;
    left: 12px;
}

#caddie_header {
    display: inline-block;
    position: absolute;
    z-index: 500;
    right: -30px;
    top: 32px;
    width: 100px;
    height: 100px;

    a {
        position: relative;
        width: 100px;
        height: 100px;
    }
}

#count_caddie {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: $orange_ligth;
    border-radius: 50%;
    text-align: center;
    font-family: "mohave bold";
    font-weight: bold;
    font-size: 16px;
    color: white;
    right: -6px;
    top: 18px;
}

#prenom_header {
    position: absolute;
    top: 65px;
    right: 85px;
}

#account_header {
    display: inline-block;
    height:100px;
    z-index: 500;
    text-align: center;
    width: 100px;
    right: 55px;
    position: absolute;
}

#header_right {
    position: absolute;
    right:0;
    top:0;

    p {
        margin-top: 10px;
        font-family: "mohave bold";
        font-weight: bold;
        color: white;
    }
}

.form_header {
    display: none;
    background-color: $header_footer_background;
    width: 250px;
    position: absolute;
    right:-60px;
    top:100px;
    box-sizing: border-box;

    & > div {
        display: inline-block;
        vertical-align: top;
        width:195px;

        &:first-child {
        border-bottom: 2px solid white;
        }
    }

    input[type="text"],
    input[type="password"] {
        display: block;
        background-color: white;
        width: 150px;
        margin: 5px auto;
    }

    input[type="submit"] {
        display: block;
        background-color: #f18a31;
        width: 150px;
        padding: 3px 0;
        color: white;
        font-family: "mohave bold";
        margin: 5px auto;
    }

    label {
        font-family: "mohave bold";
        color: white;
        font-size: 14px;
    }

    a {
        display: block;
        background-color: #f18a31;
        width: 150px;
        margin: 20px auto 20px auto;
        padding: 3px 0;
        color: white;
        font-family: "mohave bold";
    }    
}

#account_header:hover .form_header {
    display: block;
}

/*Responsive Styles*/

@media screen and (max-width : 1280px){
    #logo {
        position: absolute;
        top: 10px;
        left: 10px;
        right: auto;
        margin: 0;
    }

    .left_li,.right_li {
        margin-left: 20px;
    }

    #menus_header {
        margin-right: 0;
    }
    .nav_header > ul {
        right: 130px;
    }
}

@media screen and (max-width : 1050px){
    #logo {
        position: absolute;
        top: 10px;
        left: 10px;
        right: auto;
        margin: 0;
    } 
    #menu_header > li > a{
        height: 50px;
        line-height: 50px;
    }

    /*Make dropdown links appear inline*/
    .nav_header ul {
        position: static;
        display: none;
    }
    .login_nav ul {
        display: inherit;
    }
    /*Create vertical spacing*/
    .nav_header li {
        margin-bottom: 0;
    }
    /*Make all menu links full width*/
    .nav_header ul li {
        width: 100%;
        background-color: rgb(73,63,51);
        background-color: rgba(73,63,51,1);
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
    }

    .header-menu_close {
        display: initial;
    }

    .nav_header ul li:last-child {
        position: relative;
        width: 100%;
    }

    .right_li a {
        height: 50px !important; 
        line-height: 50px !important;
        padding-top: 0;
    }
    #barre_left {
        display: none;
    }

        .left_li,.right_li {
        margin-left: 0;
    }
}


@media only screen and (max-width: 760px) {
    #logo {
        width: 100px;
    }
}