/* ==========================================================================
   ACCUEIL
   ========================================================================== */

/* BANNER */

.banner {
    background-image: url("../img/accueil/banniere.jpg");
    background-size: cover;
    height: 641px;
    position: relative;
    color: white;

    &-title {
        position: absolute;
        text-align: center;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 20%; 
        
        &_title {
            font-family: "mohave bold";
            font-size: 80px;
        }

        &_description {
            font-family: "Kraftstoff";
            font-size: 47px;
            letter-spacing: 12px;            
        }       
    }

    &_button {
        @include buttonLink(36px, 240px);
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 10%;
        width: 240px;   
    }
}

@media only screen and (max-width: 770px) {
    .banner {
        height: 500px;

        &-title {
            &_title {
                font-size: 60px;
            }

            &_description {
                font-size: 47px;
                letter-spacing: 6px;
            }
        }
        &_button {
            width: 200px;
        }
        &_link {
            width: 200px; 
        }
    }
}

@media only screen and (max-width: 580px) {
    .banner {
        height: 400px;

        &-title {
            &_title {
                font-size: 45px;
            }
            &_description {
                font-size: 30px;
            }            
        }
    }
}

@media only screen and (max-width: 425px) {
    .banner {
        height: 350px;

        &-title {
            &_title {
                font-size: 38px;
            }
            &_description {
                font-size: 25px;
            }            
        }
        &_button {
            font-size: 18px;
        }
    }
}

/* HOW IT WORKS */

.howitworks {
    margin-bottom: 20px;
    text-align: center;

    &_box {
        display: inline-block;
        position: relative;
        width: 170px;
        vertical-align: top;
        margin-right: 145px;
        font-family: 'Kraftstoff';
        font-size: 21px;
        color: #4d4135;        
    }
    &_box:last-child {
        margin-right: 0;
    }
}

.afterarrow::after {
    content: "";
    position: absolute;
    @extend .content-sprite;
    @extend .content-arrow;
    top: 20px;
    left: 150px;
}

@media only screen and (max-width: 1200px) {
    .howitworks_box {
        width: 100px;
    }
    .afterarrow::after {
        background-position: -45px -90px;
        width: 130px;
        left: 120px;
    }
}

@media only screen and (max-width: 900px) {
    .howitworks_box {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .afterarrow::after {
        background: none;
    }
}


/* SLIDER */

.home-slider {
    background-color: $background-sand;

    .bx-wrapper {
        position: relative;
        display: block;
        margin: 0 auto;
        width: 600px;
    }
    .bx-prev {
        left: -60px;
        @extend .content-sprite;
         @extend .content-arrow-left-slider;
    }
    .bx-next {
        right: -60px;
        @extend .content-sprite;
        @extend .content-arrow-right-slider;
    }
    .bx-controls-direction a {
        position: absolute;
        top: 50%;
        margin-top: -16px;
        outline: 0;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        z-index: 50;
    }
    .bx-pager-item,
    .bx-controls-auto-item {
        position: absolute;
        display: inline-block;
        visibility: hidden;
        bottom: 0;
    }
    &_buttonbox {
        text-align: center;
        padding-bottom: 20px;
    }
    &_button {
        @include buttonLink(36px, 240px);
        margin: 20px 20px 0 20px; 
    }
}

@media only screen and (max-width: 760px) {
    .bx-prev {
        left: 0;
    }
    .bx-next {
        right: 0;
    }
}

/* BLOG */

.home-blog {
    background-color: $background-sand;
    margin: 22px 0;

    &_flexbox {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;        
    }

    &_article {
        width: 380px;
        height: 200px;
        font-family: "arialnarrow";
        color: #493f33;
        text-align: left;
        vertical-align: top;
        background-color: white;
        padding: 5px;
        box-sizing: border-box;
        position: relative;
        margin-bottom: 90px;
        font-size: 15px;
    }

    &_article:nth-child(2) {
        margin-left: 10px;
        margin-right: 10px;
    }

    h3 {
        font-size: 20px;
        color: $font-green;
        margin-top: 5px;        
    }

    small {
        font-size: 13px;
        font-style: italic;       
    }

    p {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    a {
        font-style: italic;
        text-decoration: underline;        
    }

    img {
        position: absolute;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -65px;
    }
}

@media only screen and (max-width: 600px) {
    .home-blog_article {
        width: 100%;
        margin-bottom: 90px;

        &:nth-child(2) {
            margin-left: 0px;
            margin-right: 0px;
        }

        img {
            bottom: -85px;
        }
    }
}
.home-flexbox {
    background-color: $background-engagements;

    &_box {
        display: flex;
        flex-wrap: wrap;
    }
}

/* TEMOIGNAGE */

.home-comments {
    background-color: $background-comments;
    width: 320px;
    text-align: center;
    padding-top: 30px;
    color: white;
    font-family: 'arialnarrow', Arial, sans-serif;
    font-size: 20px;

    h2 {
        font-family: 'mohave bold';
        font-size: 36px;
        margin-left: -100px;
    }

    small {
        font-size: 27px;
        margin-right: -160px;
        vertical-align: top;
    }

    &_box {
        margin: 40px 20px;
    }

    &_box:last-child {
        text-align: right;
        font-style: italic;
        span {
            margin-left: 10px;
        }       
    }
 
    .comments-author {
        margin-right: 30px;
    }
}

@media only screen and (max-width: 1085px) {
    .home-comments {
        flex-grow: 1;
    }
}

/* ENGAGEMENT */

.engagements {
    background-color: $background-engagements;
    position: relative;
    flex-grow: 1;
    text-align: center;

    &_100 {
        position: absolute;
        top: 30px;
        right: 40px;
    }

    &_flexbox {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        font-size: 21px;
        font-family: "arialnarrow";
        color: $font-brown;

        &_box {
            width: 240px;
            text-align: center;
            position: relative;
            margin: 40px 0;
        }

        a {
        color: $font-green;
        font-style: italic;
        }       
    }
}


@media only screen and (max-width: 870px) {
    .engagements {
        &_100 {
            position: relative;
            top: -20px;
            left: 0;            
        }

        &_box {
            margin: 20px 0;
        }
    }
}