/* PLAT SLIDER */

.menu-slider {
    text-align: center;
    font-family: 'arialnarrow';
    color: #4d4135;

    &_photo {
        vertical-align: top;
    }

    h3 {
        font-family: 'Kraftstoff';
        font-size: 45px;
        color: #4a2f14;
        font-weight: normal;
    }
    
    h4 {
        font-size: 36px;
        color: #4a2f14;
        font-weight: normal;
    }

    &_content {
        display: inline-block;

        margin-bottom: 0;
    }

    &_infos {
        border-top: 1px solid #5f3817;
        border-bottom: 1px solid #5f3817;
        width: 630px;
        height: 55px;
        font-size: 12px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        margin: 15px 0 15px 20px;

        span {
            vertical-align: middle;
            display: inline-block;
        }

        .sprite-span {
            margin: 8px 5px;
        }       
    }

    &_info {
        display: inline-block;        
    }

    &_trait {
        display: inline-block;
        background-color: #5f3817;
        width: 1px;
        height: 36px;
        vertical-align: middle;
        margin: 8px 10px 0 10px;        
    }

    &_accroche {
        font-size: 26px;
        color: #ef8b3d;
        width: 330px;
        margin: 0 auto;
    }

    &_description {
        font-size: 18px;
        width: 570px;
        margin: 0 auto;
    }

    &_salt {
        display: inline-block;
        font-size: 14px;
        margin-top: 30px;
        font-style: italic;
        width: 230px;
        line-height: 0;
        
        span {
            margin-right: 10px;
        }
    }

    &_discovery {
        @include buttonLink(35px, 275px, "15px");
        float: right;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 30px;
    }    

    .bx-wrapper {
        position: relative;
        display: block;
        margin: 0 auto;
    }

    .bx-next {
        right: 0;
        @extend .content-big-arrow-next;
        @extend .content-sprite;
    }

    .bx-controls-direction a {
        position: absolute;
        top: 0;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        z-index: 50;
    }

    .bx-pager-item,
    .bx-prev,
    .bx-controls-auto-item {
        display: none;
    }    

}

@media only screen and (max-width: 1170px) {
    .menu-slider {
        .bx-controls-direction a {
            right: initial;
            top: 47%;
            margin-left: 200px;
        }        
    }
}


@media only screen and (max-width: 700px) {
    .menu-slider {

        &_infos {
            width: 100%;
            margin: 30px 0;            
        }
        .bx-controls-direction a {
            top: 88%;
            maring: 0;
            right: 0;
        }
        &_salt {
            display: block;
            font-size: 14px;
            margin-top: 30px;
            width: auto;
        }
        &_discovery {
            float: none;
        }   
    }
}

@media only screen and (max-width: 570px) {
    .menu-slider {
        padding-bottom: 20px;
        &_infos {
            height: 100px;
        }
        &_accroche {
            width: 100%;
        }
        &_description {
            width: 100%;
        }
    }
}

/* NEXT PLATS */

.menu-nextweek {
    background-color: $background-sand;
    text-align: center;
    padding-bottom: 20px;
    font-family: 'arialnarrow';

    &_plat {
        display: inline-block;
        text-align: center;
        margin: 0 30px;
        vertical-align: top;        
    }

    h3 {
        font-size: 36px;
        color: #4a2f14;
    }

    &_title {
        font-size: 26px;
        color: #493f34;
        margin: 20px 0;
        margin: 0 auto;        
    }

    &_link {
        font-size: 15px;
        color: #4a2f14;
        text-decoration: underline;
        font-style: italic;
        margin-right: 10px;
        vertical-align: middle;

        span {
            margin-left: 10px;
        }        
    }
}

@media only screen and (max-width: 600px) {
    .menu-nextweek_plat {
        margin: 0;
    }
}