/* ==========================================================================
   PANIER classique/brunch etc
   ========================================================================== */

/* FIRST SECTION */

#box_menu article {
    margin-bottom: 40px;
}

.panier_type  {
    background-color: white;
    width: 700px;
    padding: 10px 20px 10px 20px;
    font-family: "arialnarrow";
    font-size: 26px;
    color: #493f34;
    position: relative;
    box-sizing: border-box;
}

.panier_type  p {
    position: absolute;
    width: 300px;
    top: 45px;
    right: 20px;
}

.panier_type  p strong {
	color: $orange_ligth;
}

#panier_type_local {
	position: absolute;
	right: 50px;
	bottom: 90px;
}

.panier_what {
    border-top: 1px solid #5f3817;
    border-bottom: 1px solid #5f3817;
    width: 600px;
}

.panier_what img {
    padding: 0 20px;
}

.panier_what_trait {
    display: inline-block;
    background-color: #5f3817;
    width: 1px;
    height: 36px;
    line-height: 36px;
    vertical-align: middle;
    margin-top: 8px;
}

.panier_order {
    background-color: white;
    width: 440px;
    text-align: center;
}

.prix_paniers {
    margin: 20px;
    font-family: "arialnarrow";
    font-size: 24px;
    color: #5c5d61;
    position: relative;
}

.prix_paniers input {
    height: 40px;
    border: 1px solid #5f3817;
    width: 90%;
    font-family: "arialnarrow";
    font-size: 15px;
    text-align: center;
    color: #493f34;
   -webkit-appearance: none;
   -moz-appearance: none;
}

.prix_paniers input::-webkit-outer-spin-button,
.prix_paniers input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#quantite_panier {
    width: 90%;
    border: 1px solid #5f3817;
    height: 40px;
    text-align: center;   
    margin: auto;
    display: flex;  
}

#quantite_panier input{
    display: inline-block;
    border: none;  
    vertical-align: middle;
    margin: 0;
    background-color: white;
    color: $green_light; 
    font-size: 24px;  
}

#quantite_panier button {
    display: inline-block;
    height: 40px;
    min-width: 55px;

}

.styled-select {
    border: 1px solid #5f3817;
    text-align: center;
    width:90%;
    height: 40px;
    overflow: hidden;
    margin: 10px auto;
    background: url('../img/menus/small_arrow_desc.png') no-repeat right;
}

.styled-select select {
    width: 100%;
    height: 40px;
    background: transparent;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border-radius: 0;
    border: 0;
    text-align: center;
}

.styled-select select option{
    text-align: center;
}


.styled-select:hover {
    background: url('../img/menus/small_arrow_desca.png') no-repeat right;
}

#lolol {
    position: absolute;
    pointer-events: none;
    right: 5%;
    bottom: 84px;
}

.prix_paniers input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

.prix_paniers input[type="date"]::-webkit-calendar-picker-indicator
{
    width: 40px;
    margin-left: -10px;
}


.prix_paniers input[type='submit'] {
    width: 90%;
    color: white;
    border: none;
    font-size: 21px;
    margin-top: 10px;
    margin-bottom: 0;
}

.prix_paniers small {
    font-family: "arialnarrow";
    font-size: 15px;
    text-align: center;
    font-style: italic;
    color: #493f34;
}



@media only screen and (max-width: 720px) {
    .panier_type  {
        width: 100%;
        padding: 10px 20px 10px 20px;
        font-size: 26px;
    }

    .panier_type  p {
        position: relative;
        width: 100%;
        top: 0;
        right: 0;
        text-align: center;
    }
    #panier_type_photo {
        width: 100%;
        max-width: 508px;
    }

    #panier_type_local {
    	display: none;
    }

    .panier_what {
        width: 100%;
        text-align: center;
    }

    .panier_what img {
        padding: 0 20px;
    }

    .panier_what_trait {
        width: 0;
    }
}

/* PLAT SLIDER */

#panier_detail {
    text-align: center;
    padding: 20px 0;
}

#panier_detail h3 {
    font-family: 'Kraftstoff';
    font-size: 45px;
    color: #4a2f14;
    text-align: center;
    font-weight: normal;
}

#panier_detail h4 {
    font-family: 'arialnarrow';
    font-size: 36px;
    color: #4a2f14;
    text-align: center;
    font-weight: normal;
}

#plat_detail {
    margin-bottom: 0;
    text-align: center;
}

#plat_detail,.plat_what > div {
    display: inline-block;
    vertical-align: middle;
}

.plat_what {
    border-top: 1px solid #5f3817;
    border-bottom: 1px solid #5f3817;
    width: 630px;
    height: 55px;
    font-family: 'arialnarrow';
    font-size: 12px;
    color: #4d4135;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin: 15px 0 15px 20px;
}

.plat_what span {
    vertical-align: middle;
    display: inline-block;
}

.plat_what img {
    padding: 8px 5px;
    vertical-align: middle;
}

.photo_plat {
    max-width: 500px;
    width: 100%;
}

.plat_what_trait {
    display: inline-block;
    background-color: #5f3817;
    width: 1px;
    height: 36px;
    vertical-align: middle;
    margin: 8px 10px 0 10px;
}

.plat_accroche {
    font-family: 'arialnarrow';
    font-size: 26px;
    color: #ef8b3d;
    text-align: center;
    width: 330px;
    margin: 0 auto;
}

.plat_description {
    font-family: 'arialnarrow';
    font-size: 18px;
    color: #4d4135;
    text-align: center;
    width: 570px;
    margin: 0 auto;
}

.plat_titre_suivant {
    font-family: 'arialnarrow';
    font-size: 26px;
    color: #493f34;
    text-align: center;
    margin: 20px 0;
    
    margin: 0 auto;
}

.sel_poivre {
    font-family: 'arialnarrow';
    font-size: 14px;
    color: #4d4135;
    margin: 30px 0 0 0;
    vertical-align: middle;
    text-align: center;  
}

.sel_poivre img{
    margin-right: 10px;
    vertical-align: middle;
}

.discovery {
    float: right;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'arialnarrow';
    font-size: 15px;
    width: 275px;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
}


.arrow_slider_right {
    text-align: right;
}

.slider_menu .bx-wrapper {
    position: relative;
    display: block;
    margin: 0 auto;

}
.slider_menu .bx-wrapper .bx-prev {
    left: 0;
    background: url(../img/accueil/arrow_left_slider.png) no-repeat 0 0;
    display: none;
}

.slider_menu .bx-wrapper .bx-next {
    right: 0;
    background: url(../img/menus/big_arrow_next.png) no-repeat 0 0;
}

.slider_menu .bx-wrapper .bx-controls-direction a {
    position: absolute;
   bottom:50%;
    margin: auto 0;
    outline: 0;
    width: 69px;
    height: 111px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    z-index: 50;
}

@media only screen and (max-width: 1280px) {
    .discovery {
    float: none;
    display: inline-block;
    margin-top: 20px;
    }

}

@media only screen and (max-width: 700px) {
    .plat_what {
        width: 100%;
        margin: 30px 0;
    }

     .slider_menu .bx-wrapper .bx-controls-direction a {
        position: absolute;
        bottom: 2px;
        margin: 0;
    }   

}

@media only screen and (max-width: 570px) {
    .plat_what {
        height: 100px;
    }
    .plat_accroche {
        width: 100%;
    }

    .plat_description {
        width: 100%;
    }
}


/* NEXT PLATS */

#panier_suivant {
    background-color: $background-sand;
    text-align: center;
    padding-bottom: 20px;
}

.plat_suivant {
    display: inline-block;
    text-align: center;
    margin: 0 30px;
    vertical-align: top;
}

#panier_suivant h3 {
    font-family: 'arialnarrow';
    font-size: 36px;
    color: #4a2f14;
    text-align: center;
    margin-top: 0;
}


.photo_plat_suivant {
    max-width: 480px;
    width: 100%;
}

.next_menu {
    font-family: 'arialnarrow';
    font-size: 15px;
    color: #4a2f14;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    margin-right: 10px;
    vertical-align: middle;
}

@media only screen and (max-width: 600px) {
    .plat_suivant {
        margin: 0;
        padding: 0;
        width: 100%;
    }

}


/* UPSELL */


#upsell {
    text-align: center;
    clear: both;
}

#upsell article {
    display: inline-block;
    margin-bottom: 20px;
    width: 400px;
}

#upsell form {
    display: inline-block;
}

.img_upsell {
    border: 15px solid $background-sand;
    margin-right: 0;  
}

.prix_upsell {
    display: inline-block;
    font-family: 'arialnarrow';
    font-size: 20px;
    color: #4a2f14;
    margin: 20px 0 40px 0;
    font-weight: bold;
}

.upsell_titre {
    font-family: 'arialnarrow';
    font-size: 26px;
    color: #4d4135;
    text-align: center;
    margin: 20px 0;
    margin: 0 auto;
}

.provenance {
    font-family: 'arialnarrow';
    font-size: 18px;
    color: #4d4135;
    font-style: italic;
}

.prix_upsell small{
    font-size: 16px;
    font-style: italic;
}

.upsell_add {
    font-family: arial;
    font-size: 14px;
    width: 214px;
    height: 35px;
}

@media only screen and (max-width: 600px) {
    .img_upsell {
        margin-right: 0;
        width:100%;
        box-sizing:border-box;
    }

}

@media only screen and (max-width: 480px) {
    #upsell article {
        width: 100%;
    }

}

#plat_comment {
    background-color: #c3beba;
    text-align: center;
}

#plat_comment img{
    margin: 0 30px 30px 0;
}


/* POPUP */

.addtocart-popup {
    width: 480px;
    height: 245px;
    border: 4px solid $orange_ligth;
    border-radius: 10px;
    background-color: #dee8d6;
    margin: auto;
    position: relative;
}

.addtocart-popup p {
    font-family: 'arialnarrow';
    font-size: 18px;
    color: #4d4135;
    text-align: center;
    font-weight: bold;
}

.addtocart-popup span {
    font-family: 'arialnarrow';
    font-size: 22px;
    color: #4d4135;
    text-align: center;
    font-weight: bold;
}

#popup-box {
    margin-left: 25px;
    margin-top: 50px;
    display: inline-block;
    vertical-align: middle;
}

#popup-photo {
    display: inline-block;
    width:100px;
    height:100px;
    border-radius: 50%;
    vertical-align: middle;
}

.addtocart-popup a, #popup-continue {
    font-family: 'arialnarrow';
    font-size: 22px;
    color: #558f29;
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
    position:absolute;
    bottom: 0;
}
#popup-link {
	display: none;
}
#popup-continue {
    left: 5px;
    line-height: 1.4;
}

#popup-end {
    right: 5px;  
}

#popup-photo {
    display: inline-block;
    width:100px;
    height:100px;
    border-radius: 50%;
    vertical-align: middle;
}