// COLORS

$header_footer_background: rgb(73,63,51);
$orange_ligth: #f28a31;
$orange_dark: #f27314;
$green_light: #719d26;
$green_dark: #557a0c;


// FONTS


$font-sansation: 'Sansation', sans-serif;


// ANIMATION


$curve: cubic-bezier(.7,0,.3,1);