/* ==========================================================================
   CADDIE
   ========================================================================== */

.caddie {
    padding-bottom: 60px;

    &_box {
        margin: 0 40px;
    }

    &_tel {
        text-align: right;
        color: #4d4135;
        font-size: 16px;
        margin: 20px 0;   
    }

    &_continue {
        color: #588c31;
        font-size: 21px;
        text-decoration: underline;
        font-style: italic;
        margin-left: 10px;
    }

    &_validate {
        text-align: right;
        display: block;
        float: right;

        button {
            font-family: "arial";
            font-size: 21px;
            text-align: center;
            margin: 0 10px;
            display: inline-block;
            padding: 5px;
        }
    }

    &_validate:after {
        content: "";
        display: table;
        clear: both;
        visibility: hidden;
    }

    &_recette {
        text-align: center;
        color: #4d4135;
        font-size: 16px;
        margin: 30px 0;

        form {
            display: inline-block;
        }
    }
}

.caddie-nav {
    margin-top: 35px;
    margin-right: 40px;

    &_menu {
        list-style-type:none;
        text-align: right;
    }

    li {
        display:inline-block;
    }

    a {
        display:block;
        font-size: 36px;
        font-family: 'Kraftstoff', Helvetica, Arial, sans-serif;
        color: #493f33;
        text-decoration: none;
        margin-left: 35px;
        opacity: 0.2;
    }

    a[class="opacity-none"] {
        opacity: 1;
    }

    strong {
        font-size: 24px;
        font-family: 'Mohave-Bold', Helvetica, Arial, sans-serif;
        color: white;
        font-weight: bold;
        background-color: #493f33;
        height: 36px;
        width: 36px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
    }

    &-show {
        height: 50px;
        line-height: 50px;
        display: none;
        text-align: center;
        background-color: #493f33;
        vertical-align: middle;
        color: white;
        font-family: 'Kraftstoff', Helvetica, Arial, sans-serif;
        font-size: 36px; 
    }

    input[type=checkbox]{
        display: none;
    }
}

.caddie-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    &_box {
        background-color: white;
        padding-bottom: 40px;
        clear:both;
        margin-top: 20px;        
    }

    thead {
        tr {
            height: 41px;
            border-top: 1px solid #ccd7bc;
            border-bottom: 1px solid #ccd7bc;
            box-sizing: border-box;
            background-color: #9bba83;
        }
        th {
            color: white;
            font-family: arial;
            font-size: 16px;
            text-transform: uppercase;
        }
    }

    th {
        text-align: center;
        padding: 0;
    }

    tbody {
        tr {
            background-color: #dee8d6;
        }
        th {
            color: #4d4135;
            font-size: 18px;
            font-weight: normal;
            font-family: 'ArialNarrow';
            height: 100px;
            position: relative;
        }
        th:first-child {
            background-color: white;
            max-width: 250px;

            img { 
                max-width: 250px;
            }
        }
        form {
            border: 1px solid #588c31;
            border-radius: 2px;
            text-align: center;
            background-color: white;
            width: 80px;
            display: inline-block;
        }
        input[type='text']{
            width: 28px;
            height: 28px; 
            text-align: center;
            background-color: #588c31;
            display: inline-block;
            color: white;
            vertical-align: middle;
        }
        button {
            display: inline-block;
            height: 27px;
            width: 26px; 
            color: #588c31;
            font-size: 18px;
            font-weight: normal;
            font-family: "Arial";
            text-align: center;    
        }      
    }

    tfoot {
        th {
            color: #4d4135;
            font-size: 16px;
            font-weight: normal;
            font-family: 'ArialNarrow';
            height: 50px;
        }
        th:first-child {
            background-color: white;
            max-width: 250px;
        }
    }

    &_quantite, &_total {
        width: 100px;
    }

    &_prix {
        width: 150px;
    }

    &_garbage {
       position: absolute;
       bottom: 10%;
       left: 0;
       right: 0;
       width: 17px;
       margin: auto;        
    }

    &_reduc {
        position: relative;
        display: inline-block;
        font-size: 16px;

        input[type="text"] {
            background-color: white;
            height: 31px;
            vertical-align: middle;
            width: 200px
        }

        input[type="submit"] {
            position: absolute;
            background-color: #588c31;
            height: 31px;
            width: 41px;
            color: white;
            right: 0;
        }

        input[type="submit"]:hover {
            background-color: $green_dark;
        }
    }
}

@media screen and (max-width : 1050px){
    .caddie-nav {
        margin-right: 0;

        &_menu {
            display: inherit;
            height: 0;
            -o-transition: height 1s;;
            -webkit-transition: height 1s;
            -moz-transition: height 1s;
            -ms-transition: height 1s;
            transition: height 1s;
            overflow: hidden;
        }

        a {
            color: white;
            text-align: center;
        }

        li {
            width: 100%;
            background-color: #493f33;
        }

        &-show {
            display:block;
        }

        input[type=checkbox]:checked ~ .caddie-nav_menu {
            height: 250px;

        }
    }

    .caddie {
        &_box {
            margin: 0;
        }
        
        &_tel {
            text-align: center;
            color: #4d4135;
            font-size: 16px;
            margin: 20px 0;            
        }
    }
}

@media screen and (max-width : 680px) {
    .caddie-table tbody th:first-child img{ 
        max-width: 0;
    }
}

@media screen and (max-width : 580px) {
    .caddie_validate {
        float: none;
        width: 100%;

        button {
            width: 100%;
            display: block;
            margin: 20px 0 0 0;
        }
    }
}