/*------------------------------------*\
    GENERAL STYLES
\*------------------------------------*/
/**
 * $BOX................Some styled divs, sections etc
 * $BUTTONS............Styled buttons 
 * $BREADCRUMB.........The main breadcrumb
 * $TITLES.............Titles for sections, articles etc
 */


/*------------------------------------*\
    $BOX
\*------------------------------------*/


.container-small {
    width: 1280px;
    margin: 0 auto;
    position: relative;
}

.section-first {
    background-color: #e5dbd1;
    padding-top: 130px;
}

.section-first-white {
    background-color: white;
    padding-top: 130px;
}

.sprite-span {
    display: inline-block;
    vertical-align: middle; 
}

.green_light {
    background-color: #f7f9f5;
}

.green_dark {
    background-color: #dee8d6;
}

.sprite-span-base {
    display: inline-block;
    vertical-align: middle; 
    margin-right: 20px; 
}

@media only screen and (max-width: 1280px) {
    .container-small {
        width: 100%;
    }
}


/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/


@mixin buttonLink($height, $width, $font-size: "21px") {
    display: inline-block;
    text-align: center;
    font-family: 'ArialNarrow';
    font-size: unquote($font-size);
    height: $height;
    width: $width;
    line-height: $height;
    vertical-align: middle;        
}

.orange {
    background-color: $orange_ligth;
    color: white;
    &:hover {
        background-color: $orange_dark;
    }
    &:active {
        background-color: $orange_ligth;
    }
}

.white-button {
    background-color: white;
    color: #987545;
    &:hover {
        background-color: #f0f0f0;
    }
    &:active {
        background-color: white;
    }
}

.green-button {
    background-color: $green_light;
    color: white;
    &:hover {
        background-color: $green_dark;
    }
    &:active {
        background-color: $green_light;
    }
}


/*------------------------------------*\
    $BREADCRUMB
\*------------------------------------*/


 .breadcrumb {
    margin: 0 0 10px 20px;

    li {
        display: inline-block;
        color: #4d4135;
        font-family: 'ArialNarrow';
        font-size: 18px;
        margin-right: 5px;
    }

    a {
        text-decoration: underline;
        color: #4d4135;
    }

    li:after {
        content : ">";
    }

    li:last-child:after {
        content : "";
    }

    li:first-child:after {
        content : "/";
    }
} 

.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgb(80, 80, 80);;
    background: rgba(80, 80, 80, 0.4);
    width: 100%;
}

.bx-wrapper .bx-caption span {
    color: #fff;
    text-align: center;
    display: block;
    font-size: 1.2em;
    padding: 10px;
}


/*------------------------------------*\
    $TITLES
\*------------------------------------*/


@mixin sectionTitle ($color) {
    font-family: 'Mohave-SemiBold', sans-serif;
    font-size: 36px;
    color: $color;
    text-align: center;
}

.section-title {
    text-align: center;
    padding: 40px 0;
}

.section_title-green {
    @include sectionTitle($font-green);
}

.section_title-brown {
    @include sectionTitle($font-brown);
}

.section_title-white {
    @include sectionTitle(white);
}

.section_description {
    font-family: 'Kraftstoff', sans-serif;
    font-size: 30px;
    color: $font-brown;    
}