/* ==========================================================================
   Paniers
   ========================================================================== */

@mixin menuArticle() {
    width: 620px;
    position: relative;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'ArialNarrow';  
}

@mixin menuh3() {
    font-family: 'Kraftstoff';
    font-size: 40px;
    color: $font-brown;
    font-weight: normal;
}

.menu-flexbox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.menu-soir {

    &_article {
        @include menuArticle();
        background-color: white;
    }

    h3 {
        @include menuh3();
        position: absolute;
        right: 90px;
        top: 10px;
    }

    img, .sprite-span {
        margin-top: 30px;
    }
}

.menu-other {

    &_article {
        @include menuArticle();
        background-color: #e5dbd1;
    }

    h3 {
        @include menuh3();
    }

    img {
        margin-top: 10px;
    }
}

.panier-prix_box {
    font-size: 24px;
    color: #5c5d61;
    margin: 10px 0;
    text-align: center;
}

.menu_button-box {
    @include buttonLink(36px, 240px);
    text-transform: uppercase;
    margin: 0 10px;
}

@media only screen and (max-width: 620px) {
    .menu-soir h3 {
        position: inherit;
        text-align: center;
        right: 0;
    }
}