// COLORS

$header_footer_background: rgb(73,63,51);
$orange_ligth: #f28a31;
$orange_dark: #f27314;
$green_light: #719d26;
$green_dark: #557a0c;
$green_dark_account: #9bba83;
$green_medium_account: #dee8d6;
$green_light_account: #eef4ea;
$font-green: #588c00;
$background-sand: #e5dcd0;
$background-engagements: #fffaf4;
$background-comments: #bab6b3;
$whity: #fcf8f2;
$font-brown : #493f33;


// FONTS


$font-sansation: 'Sansation', sans-serif;


// ANIMATION


$curve: cubic-bezier(.7,0,.3,1);